---
layout: base
title: Home
permalink: '/'
heading: Hello!
---

<article>
    <h1>
        {{ heading }}
    </h1>
    <p>
        This is where some information about me will go.
    </p>
    <p>Visit my department page to learn more. </p>
</article>
